parameters:
	ignoreErrors:
		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateApplicationRepository\:\:findByStatus\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateApplication\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateApplicationRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateApplicationRepository\:\:findByTemplateId\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateApplication\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateApplicationRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateApplicationRepository\:\:findByUserId\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateApplication\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateApplicationRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateAuditRepository\:\:findByApplicationId\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateAudit\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateAuditRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateAuditRepository\:\:findByAuditor\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateAudit\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateAuditRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateAuditRepository\:\:findCompletedAudits\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateAudit\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateAuditRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateAuditRepository\:\:findPendingAudits\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateAudit\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateAuditRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateRecordRepository\:\:findByCertificateType\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateRecord\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateRecordRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateRecordRepository\:\:findByIssuingAuthority\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateRecord\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateRecordRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateRecordRepository\:\:findExpiredBefore\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateRecord\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateRecordRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateRecordRepository\:\:findExpiredCertificates\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateRecord\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateRecordRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateRecordRepository\:\:findExpiringCertificates\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateRecord\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateRecordRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateTemplateRepository\:\:findActiveTemplates\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateTemplate\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateTemplateRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateTemplateRepository\:\:findByType\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateTemplate\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateTemplateRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateTemplateRepository\:\:findDefaultTemplate\(\) should return Tourze\\TrainCertBundle\\Entity\\CertificateTemplate\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateTemplateRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateTemplateRepository\:\:findDefaultTemplateByType\(\) should return Tourze\\TrainCertBundle\\Entity\\CertificateTemplate\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateTemplateRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateVerificationRepository\:\:findByCertificateId\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateVerification\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateVerificationRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateVerificationRepository\:\:findByIpAddress\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateVerification\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateVerificationRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateVerificationRepository\:\:findSuccessfulVerifications\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateVerification\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateVerificationRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateVerificationRepository\:\:findVerificationsBeforeDate\(\) should return array\<int, Tourze\\TrainCertBundle\\Entity\\CertificateVerification\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateVerificationRepository.php

		-
			message: '#^Method Tourze\\TrainCertBundle\\Repository\\CertificateVerificationRepository\:\:getVerificationStatistics\(\) should return array\<string, mixed\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Repository/CertificateVerificationRepository.php
